.icono_contacto {
  color: #2deb2a;
  transition-duration: 1s;
  transition-property: color;
}

.icono_contacto:hover {
  color: white;
}

.icono_contacto_tel {
  color: #9458e0;
  transition-duration: 1s;
  transition-property: color;
}

.icono_contacto_tel:hover {
  color: #59c3ff;
}

.icono_contacto_lin {
  color: #2deb2a;
  transition-duration: 1s;
  transition-property: color;
}

.icono_contacto_lin:hover {
  color: #86d3ff;
}

.barra-mobiles {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);

}

#nav-tab {
  background-color: #2deb2a;
  border-radius: 16px;
}

.SubTitulos {
  color: #ffffff;
  font-size: 0.75rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.ContactSubTitulos {
  color: var(--color-subtitulos);
  font-size: 0.75rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.disponible {
  color: #252723;
  font-size: 0.75rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.activo {
  display: flex;
  align-items: center;
}

.activo .dot {
  width: 10px;
  height: 10px;
  background-color: #2deb2a;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
  margin-right: 10px;
  /* Espacio entre el indicador y el texto */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.Titulo {
  color: var(--color-titulos);
  font-size: 1.25rem;
  font-family: var(--fuente-titulos);
  font-weight: 600;
}

.TituloQuienSoy {
  color: var(--color-titulos);
  font-size: 2.25rem;
  font-family: var(--fuente-titulos);
  font-weight: 600;
}

.SubTitulosQuienSoy {
  color: var(--color-subtitulos);
  font-size: 1.4rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.ParrafoQuienSoy {
  color: var(--color-subtitulos);
  font-size: 0.9rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.modal-text {
  font-size: 1rem;
  font-family: var(--fuente-titulos);

}

.proySisMonitoreo {
  background-image: url("../img/proyectos/Supervisorio.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition: transform 1s ease, filter 0.3s ease;
  position: relative;
  /* Asegura que el overlay se posicione correctamente */
  overflow: hidden;
  /* Evita que el overlay se salga del contenedor al hacer escala */
}

.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo semitransparente */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  /* Asegura que se superponga sobre otros contenidos */
  border-radius: 15px;
  /* Para coincidir con la forma del contenedor */
}

.proySisMonitoreo:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  cursor: pointer;
}

.proySisMonitoreo:hover .description-overlay {
  opacity: 1;
}

.img-supervisorio{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
.proyFormula1 {
  background-image: url("../img/proyectos/Formula1.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition: transform 1s ease, filter 0.3s ease;
  position: relative;
  /* Asegura que el overlay se posicione correctamente */
  overflow: hidden;
  /* Evita que el overlay se salga del contenedor al hacer escala */
}

.proyFormula1:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  cursor: pointer;
}

.proyModulosst {
  background-image: url("../img/proyectos/ModuloSst.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition: transform 1s ease, filter 0.3s ease;
  position: relative;
  /* Asegura que el overlay se posicione correctamente */
  overflow: hidden;
  /* Evita que el overlay se salga del contenedor al hacer escala */
}

.proyModulosst:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  cursor: pointer;
}

.varProye {
  animation: carousel 12s infinite;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition: transform 1s ease, filter 0.3s ease;
  position: relative;
  /* Asegura que el overlay se posicione correctamente */
  overflow: hidden;
  /* Evita que el overlay se salga del contenedor al hacer escala */
}

@keyframes carousel {
  0% {
    background-image: url("../img/proyectos/Agri-Col-Store.png");
  }

  33% {
    background-image: url("../img/proyectos/mp.jpg");
  }

  66% {
    background-image: url("../img/proyectos/truncados.png");

  }

  100% {
    background-image: url("../img/proyectos/Agri-Col-Store.png");

  }
}

.varProye:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  cursor: pointer;
}




/* Colores de fondo para botones */

.nav-link,
.nav-link:focus,
.nav-link:hover {
  color: white !important;
  background-color: var(--color-fondo) !important;
}

.nav-link,
.nav-link:visited {
  background-color: transparent !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #2deb2a !important;
  border-color: #25c522 !important;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  border-color: #25c522 !important;
}

/* Varios */

h2 {
  color: var(--color-titulos);
  font-family: var(--fuente-titulos);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
}

p {
  color: var(--color-titulos);
  font-size: 1rem;
  font-family: var(--fuente-titulos);
  font-weight: 300;
  text-align: center;
}

ul {
  color: var(--color-titulos);
  font-size: 1rem;
  font-family: var(--fuente-titulos);
  font-weight: 300;
}

#sobreMi-perfil {
  color: var(--color-titulos);
  font-size: 1rem;
  font-family: var(--fuente-titulos);
  font-weight: 300;
  text-align: left;
}


#sobreMi-perfilm {
  color: var(--color-titulos);
  font-size: 0.6rem;
  font-family: var(--fuente-titulos);
  font-weight: 100;
  text-align: left;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Sección Sobre Mí */

#sobreMi {
  padding-top: 10%;
}

#hobbies {
  padding-top: 10%;
}

.sobreMi-data {
  padding-left: 5rem;

}

.sobreMi-hobbies {
  padding-left: 5rem;

}

/* .sobreMi-info{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
} */

/* .sobreMi-info-box {
  padding-inline: 1rem;
} */

.img-sobreMi-estilo {
  border-radius: 10px;
}

.img-hobbies {
  position: relative;
  width: 400px;
  /* Ajusta el tamaño según tus necesidades */
  height: 450px;
  /* Ajusta el tamaño según tus necesidades */
  overflow: hidden;
}

.img-hobbies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

/* Sección Habilidades */

#habilidades {
  padding-top: 15%;
}

/* Sección Proyectos */

#proyectos {
  padding-top: 10%;
}

/* Sección Contacto */

#contacto {
  padding-top: 10%;
}


.contact__icon {
  color: white;
  font-size: 2rem;
  margin-right: var(--mb-0-75);
}

.contact__content {
  background-color: #2deb2a;
  border-radius: .5rem;
  backdrop-filter: blur(8px);
  padding: .75rem 1rem .25rem;
}

.contact__name {
  border: none;
  background-color: var(--input-color);
  color: var(--color-titulos);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  font-family: var(--body-font);
  outline: none;
  padding: .25rem .5rem .5rem 0;
  width: 100%;
}

.contact__email {
  border: none;
  background-color: var(--input-color);
  color: var(--color-titulos);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  font-family: var(--body-font);
  outline: none;
  padding: .25rem .5rem .5rem 0;
  width: 100%;
}

.contact__msg {
  border: none;
  background-color: var(--input-color);
  color: var(--color-titulos);
  font-family: var(--body-font);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  padding: .25rem .5rem .5rem 0;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}